.card-div{
    min-height: calc(100vh - 50px);
    background-color: aqua !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(img/bg2.jpg);
    background-size: cover;
}

.card{
    min-width: 30em !important;
    border: none !important;
    align-items: center;
    position: relative;
}

.card ul{
    width: 90%;
}
.card li{
    border-width: 1px !important;
    margin-top: 10px;
    border-radius: 4px !important;
    cursor: pointer;
}

.card li:hover{
    background-color: #e8e8e887;
}

.overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1; 
}

.result{
    height: 100%;
    z-index: 5; 
}


.result h2{
    margin-bottom: 0;
}

.result img{
    height: 400px;
    object-fit: cover;
}

.hide-element{
    display: none !important;
}

.play-again{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    width: 90%;
}

.play-again button{
    margin: 15px 0 5px 0;
}

.next{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    margin-top: 10px;
    border-top: 1px solid rgba(0,0,0, 0.1);
    width: 90%;

}

.right-answer{
    background-color: #69ff46 !important;
}

.wrong-answer{
    background-color: #fe5252 !important;
}